.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: black;
  a {
    color: black;
    h2 {
      font-weight: 700;
    }
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      margin-right: 10px;
    }
  }
  .additionalLinks {
    display: flex;
    h3 {
      margin-right: 30px;
      &:last-child {
        margin: 0;
      }
    }
  }
  @media screen and (max-width: 480px) {
    padding: 5px 10px;
    h1 {
      font-size: 32px;
    }
    .logo {
      font-size: 12px;
      img {
        width: 22px;
        margin-right:5px ;
      }
    }

    .additionalLinks {
      h3 {
        margin-right: 10px;
        &:last-child {
          margin: 0;
        }
      }
    }
  }
}
